.Gallery {
    padding-top: 64px;
    background: #7d5732;
    text-align: center;
}

.Gallery .grid-list-tile > div {
    border-radius: 5px;
    cursor: pointer;
}

.Gallery .grid-list-tile > div:hover {
    filter: brightness(0.8);
}

@media only screen and (max-width: 600px) {
    .Gallery {
        padding-top: 56px;
    }
}